@media only screen and (min-width:975px) {

    .topnav #myLinks {
        margin-top: 0%;
      }

    .frontPage h2 {
        margin-right: 65%;
    } 
    .outsideDiv {
        display: none;
    }

    .insideDiv {
        display: inline-block;
    }

    .whiteContainer {
        height: 350px;
    }
    .templateContainer.frontpage, 
    .templateContainer.projects {
        padding-left: 16vw;
    }

    .template {
        bottom: 6%;
    }
    .templateContainer.skills {
        padding-right: 16vw;
    }

    .contactMe {
        padding: 12px;
    }
}

@media only screen and (min-width:1100px) {
    #navIcon {
        width: 50px;
        height: 45px;
        margin: 50px;
    }

    #navIcon span {
        height: 7px;
    }

    #navIcon span:nth-child(2), #navIcon span:nth-child(3) {
        top: 15px;
      }

    #navIcon span:nth-child(4) {
        top: 30px;
    }

    .template {
        bottom: 20%;
    }

    .templateContainer.frontpage, 
    .templateContainer.projects {
        padding-left: 32vw;
    }

    .templateContainer.skills {
        padding-right: 32vw;
    }

    .textWrapper {
        margin-top: 6vw;
    }

    .whiteContainerText h3, 
    .whiteContainerText p {
        display: inline-block;
    }

}

@media only screen and (min-width:1280px) {
    .frontPage h1 {
        margin-top: 0;
    }

    .backgroundMountain {
        height: 28vw;
        background-position-y: bottom;
    }
    .grayContainer {
        display: none;
    }
}