@media only screen and (max-width:360px) {
    .textWrapperProjects {
        margin-top: 6vw;
    }
}

@media only screen and (min-width:567px) {
    #templateTextSkills {
        font-size: var(--font-medium);
    }

    .frontPage h2 {
        margin-right: 45%;
    } 
}

@media only screen and (min-width:850px) {
    #templateAbout {
        bottom: 16vw;
    }

    #projectText {
        font-size: 16px;
    }
}

@media only screen and (min-width:975px) {
    .topnav #myLinks {
        margin-top: 0%;
      }

    .outsideDiv {
        display: none;
    }

    .insideDiv {
        display: inline-block;
    }

    #about {
        height: 51vw;
    }

    .whiteContainer {
        height: 350px;
    }

    #templateAbout  {
        bottom: 6%;
    }

    .contactMe {
        padding: 17px;
    }

    #email {
        padding: 10px;
        font-size: var(--font-small);
    }

    .swiper-button-next,
    .swiper-button-prev {
        height: 50px;
        width: 50px;
    }

    #projectText {
        top: 20%;
    }
}    

@media only screen and (min-width:1100px) {
    header {
        height: 150px;
    }
    #navIcon {
        width: 50px;
        height: 40px;
        margin-right: 6.7%;
    }

    #navIcon span {
        height: 7px;
    }

    #navIcon span:nth-child(2), #navIcon span:nth-child(3) {
        top: 15px;
      }

    #navIcon span:nth-child(4) {
        top: 30px;
    }

    .frontPage h2 {
        margin-right: 65%;
    } 

    #templateAbout {
        bottom: 18%;
    }

    .templateContainer.frontpage {
        padding-left: 25vw;
    }

    /* .templateContainer.projects {
        padding-left: 25vw;
    } */

    .templateContainer.skills {
        padding-right: 25vw;
    }

    .whiteContainerText {
        margin-left: 3%;
    }

    .whiteContainerText h3, 
    .whiteContainerText p {
        display: inline-block;
    }

}

@media only screen and (min-width:1179px) {
    #templateTextSkills {
        font-size: 19px;
    }
}

@media only screen and (min-width:1280px) {
    .frontPage h1 {
        margin-top: 0;
    }

    .frontPage h2 {
        margin-right: 68%;
    }

    #about {
        height: 27vw;
    }

    #templateAbout {
        bottom: 11%;
    }

    .templateContainer.frontpage {
        padding-left: 30vw;
    }

    /* .templateContainer.projects {
        padding-left: 30vw;
    } */

    .templateContainer.skills {
        padding-right: 30.7vw;
    }

    .whiteContainerText {
        margin-left: 6.5%;
    }

    .swiper-button-next {
        right: 3%;
    }
    .swiper-button-prev {
        left: 3%;
    }

    .swiper-button-next::after {
        margin-left: 4px;
    }
    
    .swiper-button-prev::after {
        margin-right: 4px;
    }
}