* {
    box-sizing: border-box;
}

:root {
    --main-bg-color: #090909;
    --font-color: #fff;
    --gray-color: #292727;
    --pop-color: #2D9CDB;
    --font-biggest: calc(28px + (48 - 28) * ((100vw - 375px) / (1600 - 375)));
    --font-big: calc(16px + (34 - 16) * ((100vw - 375px) / (1600 - 375)));
    --font-medium: calc(10px + (24 - 10) * ((100vw - 375px) / (1600 - 375)));
    --font-small: calc(8px + (17 - 8) * ((100vw - 375px) / (1600 - 375)));
    --font-smallest: calc(6px + (14 - 6) * ((100vw - 375px) / (1600 - 375)));
}

html {
    font-size: 62.5%;
}

html,
body {
    background: var(--main-bg-color);
    color: var(--font-color);
    font-family: 'IBM Plex Mono', monospace;
    margin: 0px;
    padding: 0px;
}

body {
    font-size: calc(10px + (26 - 10) * ((100vw - 375px) / (1600 - 375)));
    text-decoration: none;
}

.github {
    outline: none;
    color: var(--font-color)
}

.github:hover {
    color: var(--pop-color);
}

/* FRONT PAGE */
.frontPage {
    position: relative;
}

.frontPage h1 {
    font-size: var(--font-biggest);
    margin-left: 10%;
}

.outsideDiv {
    display: inline-block;
}

.insideDiv {
    display: none;
}

.frontPage h2 {
    font-size: var(--font-medium);
    margin: 0 30% 0 10%;
    z-index: 1;
    overflow-wrap: break-word;
}

.grayContainer {
    background: var(--gray-color);
    height: 35vw;
}

.whiteContainer {
    background: #ffffff;
    height: 46vw;
    border-bottom: 5px solid var(--pop-color);
}

.whiteContainerText {
    padding: 3% 65% 5% 5%;
    color: #000;
}

.whiteContainerText h3, 
.whiteContainerText p {
    display: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
}

.whiteContainerText h3 {

    font-weight: 400;
}

.backroundMountain {
    width: 100%;
    height: 31vw;
}

/* FRONT PAGE TEMPLATE */

.templateContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.template {
    height: 60vw;
    max-height: 500px;
    width: 90vw;
    max-width: 800px;
    background: #000000;
    border: 2px solid #ffffff;
    border-radius: 15px;
    position: absolute;
    bottom: 7%;
    font-size: var(--font-medium)
}


.lang {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: inline;
    font-size: var(--font-smallest);
}

.lang li {
    float: left;
    margin-left: 3%;
    margin-top: 2%;
}

.template #me, #frootz, #habitTracker {
    float: right;
    height: 100%;
    border-radius: 0 12px 12px 0;
}

.template #templateText {
    margin: 13%;
}

.textWrapper {
    margin-top: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactMe {
    padding: 8px;
    border-radius: 7px;
    border: 2px solid #fff;
    background: #000;
    font-size: var(--font-small);
    outline: none;
    letter-spacing: 1px;
}

.contactMe {
    text-decoration: none;
    color: var(--font-color);
}

.contactMe:hover {
    border: 2px solid var(--pop-color);
    background: var(--pop-color);
}

.contactMe:active {
    letter-spacing: 2px;
}

#email {
    font-size: var(--font-smallest);
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 8px;
    letter-spacing: 1px; 
    margin-top: 2px;
    animation: growDown 500ms ease-in-out forwards;
    transform-origin: top center;
}

.hidden {
    display: none;
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
      }
      80% {
        transform: scaleY(1.1)
      }
      100% {
        transform: scaleY(1)
      }
}

.templateFooter {
    font-size: var(--font-smallest);
    position: absolute;
    bottom: 0%;
    margin-left: 3%;
    margin-right: 55%;
    transform: translateY(-50%);
    display: inline-block;
}

/* SKILLS TEMPLATE */
.mySkills {
    background: var(--main-bg-color);
}

.template.skills {
    position: relative;
    margin: 15% 0 15% 0;
}
.skills h3 {
    margin-top: 14%;
    margin-left: 10%;
    font-size: var(--font-big)
}
#templateTextSkills {
    font-size: var(--font-small);
    list-style-type: none;
    overflow: hidden;
    margin: 10% 0% 10% 5%;
    padding: 0;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.templateFooterNumber {
    font-size: var(--font-smallest);
    position: absolute;
    bottom: 1%;
    right: 3%;
}

/* TEMPLATE PROJECTS */
.projectsBackground {
    background: #fff;
}

.template.projects {
    position: relative;
    margin: 15% 0 15% 0;
    border: 2px solid #000;
}

.projects h3 {
    margin-top: 14%;
    margin-left: 3%;
    font-size: var(--font-big)
}

#projectText {
    position: relative;
    top: 13%;
    margin-left: 3%;
    margin-right: 63%;
    transform: translateY(-50%);
    font-size: var(--font-small);
}

footer {
    height: 10vh;
}